<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/projecttest</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="Person.hbm.xml"/>
    <mapping resource="Activity.hbm.xml"/>
    <mapping resource="SentSms.hbm.xml"/>
    <mapping resource="PersonContactno.hbm.xml"/>
    <mapping resource="SentMail.hbm.xml"/>
    <mapping resource="Feedback.hbm.xml"/>
    <mapping resource="PreBrochures.hbm.xml"/>
    <mapping resource="PreText.hbm.xml"/>
    <mapping resource="Enquiry.hbm.xml"/>
    <mapping resource="EnquiryContactno.hbm.xml"/>
    <mapping resource="Course.hbm.xml"/>
    <mapping resource="Report.hbm.xml"/>
    <mapping resource="MenuMaster.hbm.xml"/>
    <mapping resource="MenuType.hbm.xml"/>
    <mapping resource="Task.hbm.xml"/>
    <mapping resource="Employee.hbm.xml"/>
<!--    <mapping resource="EnquiryCourse.hbm.xml"/>-->
    <mapping resource="OrganizationAdmin.hbm.xml"/>
    <mapping resource="ActivityComment.hbm.xml"/>
    <mapping resource="SubMenuMaster.hbm.xml"/>
    <mapping resource="SocialLinks.hbm.xml"/>
    <mapping resource="BasicDetails.hbm.xml"/>
    <mapping resource="Teachers.hbm.xml"/>
    <mapping resource="Corporates.hbm.xml"/>
    <mapping resource="PersonType.hbm.xml"/>
    <mapping resource="Aboutus.hbm.xml"/>
    <mapping resource="SliderImage.hbm.xml"/>
    <mapping resource="Gallery.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
